body{
  background-image: url('../images/about-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  height: auto;
}
/* nav bar */
nav{
  background-color: black;
  height: 118px;
  
}

/*nav bar*/
nav{
  background-color: black;
  height: 118px;
  
}
#logo{
  color: white;
  font-size: 30px;
  
}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}

#loginlist{
  background-color: maroon;
  color:white;
  text-align: left;
  font-size: 16px;
  border:none;
  font-weight: 600;
  padding: 3px;
  margin-top:9px;
}

#loginli{
  width: auto;
  margin:10px;
  padding:5px;
  background-color: maroon;
}

#loginli:hover{
  background-color: maroon;
  color:white;
  border-radius:3px;
  height:auto;
}

#loginlist:hover{
  background-color: maroon;
}

.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 

.loginopt{
  background-color: white;
  color: black;
}


#logo{
  color: white;
  font-size: 30px;
  
}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}
.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 

#logo{
    color: aliceblue;
    font-size: 30px;
    
  }
  #logo:hover{
    color: rgb(250, 115, 12);
    transition-duration: 0.3s;
  }
  #li-a{
    color:aliceblue;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }
  #li-a{
  color:aliceblue;
  text-align: center;
  font-size: 16px;
  font-weight: normal;

}
#li{
  width: 120px;
  margin:8px;
  padding:2px;
  height:45px;
}
#li:hover{
  background-color: black;
  color:white;
  transition-duration: 0.3s;
  border:1px solid yellow;
  margin:9px;
}

.carousel-inner{

  width:99%;
  height: auto;
  margin-top:120px;
  padding:10px;
  margin-left:15px;

}
#btn-group{
  display: flex;
  flex-direction: row;
  gap:20px;
  padding: 0%;
  width: auto;
}
/* login and signin button*/

.silo{
  width: 80px;
  height: min-content;
  padding: 10px;
  margin-top: 8%;
  background-color: rgb(222, 219, 219);
  border-radius: 5px;
  font-weight: 500;
  color:white;
}
#signin-btn{
  background-color:rgba(5, 117, 44, 0.809);
}

#login-btn{
  background-color:rgb(9, 103, 174);
}

/* after login- select list*/
#loginSelect{
  background-color: rgba(39, 98, 198, 0.665);
  color:white;
  border-radius: 5px;
  font-weight: 600;
  outline:2px solid white;
  height: min-content;
  padding:10px;
  margin-top: 5%;
}

.loginoption{
  background-color: black;
  color: white;
}
.background-img{
  margin-bottom: 4%;
}

.about-img{
    margin-top: 50px;
    width: 100%;
}
.about-text{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 10px;
}
.about-text h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(250, 115, 12);
    padding: 15px;
    margin-top:30px;

}
.about-text p{
  font-size: 25px;
  color: aliceblue;
}
.about-text h2{
font-size: 33px;
color: rgb(210, 210, 7);
text-align: center;
/* margin-top: 50px; */
}

.team-cont{
  
  margin-top: 60px;
}
.team-cont h1{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-bottom:2px;
}
.row2{
  margin-top: 20px;
}



.our-team{
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  background: rgb(7, 1, 1);
  margin:40px;
  width:350px;
}

.our-team .pic{
  background: rgb(9, 9, 9);
  padding: 10px;
  margin-bottom: 35px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
  background:  rgb(250, 115, 12);
  border-radius: 50%;
}

.pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.our-team .title{
  font-weight: 600;
  color: rgba(255, 255, 255, 0.438);
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  margin: 0 0 7px 0;
}
.our-team .post{
  color: #17bebb;
  text-transform: capitalize;
  display: block;
  font-size: 15px;
  margin-bottom: 15px;
}



footer{
  margin-bottom: 0px;
  margin-top: 0px;
  height:100%;
  color:white;
  background-color: black;
  text-align: center;
  font-size: 18px;
}

footer h3{
  color: orange;
}

#f1{
  justify-content: center;
}
#f1 h3{
  color: orange;
}
#footerpara{
  margin-top: 20px;
}
.h3{
  color:orange;
}
#f2{
justify-content: center;
}
#f2 span{
  color: orange;
}
a{
  text-decoration: none;
  color:white;
}

a:hover{
  color:yellow;
}

#f3{
  margin-top: 70px;
  background-color:black;
  height: 50px;
  padding: 10px;
}

.links a{
text-decoration: none;
} 


/* current */
#li-current{
  width: auto;
  height: auto;
  margin: 5px;
  padding:3px;
  border:1px solid gold;
  color:black;
  font-weight:bold;
}

#li-a-current{
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight:600;
  height:auto;
  padding: 13.5px;
}

.about-quotes{
  font-family: cursive;
}

#heading{
  color:aqua;
  margin-top: 2px;
}