body{
    background-image: url('../images/user-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* side bar*/
.page-container {
    display: flex;
    gap: 10%;
    margin: 0%;
    min-height: 100vh;
}

.container {
    min-height:100%;
    margin: 0%;
}


#table{
    width: auto;
}

tr #user-link{
    background-color: rgb(85, 16, 16);
    border-radius: 20px;
    font-weight: 600;
}

tr.row{
    background-color: rgba(73, 72, 72, 0.571);
    border-radius: 10px;
    font-size: 13px;
}

tr.row:hover{
    background-color: rgb(85, 83, 83);
}
.form-area{
    flex:1;
    margin-top: 40px;
    border-radius: 8px;
    padding: 30px 0px;
}

#input{
    display: flex;
    gap:40px;
    padding: 20px 0px;
    justify-content: center;
}

#legend-cancel{
    text-align: center;
    color: rgb(187, 86, 86);
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 20;
    font-weight: bold;
}

#cancelform{
    border: 3px solid rgb(111, 111, 111);
    background-color: rgba(242, 240, 240, 0.931);
    padding: 20px 0px;
    margin-top: 5%;
    margin-left: 540px;
    max-width:800px;
    border-radius: 6px;
}

#btn{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

#submit, #reset{
    background-color: rgb(6, 70, 165);
    color: white;
    border: none;
    padding: 7px;
    width:auto;
    border-radius: 8px;
    font-weight: 450;

}

#submit:hover, #reset:hover{
    background-color: rgb(35, 94, 154);
    color: white;
}

#input label{
    color: rgb(47, 46, 46);
    font-size: 18px;
    font-weight:600;
    text-wrap: wrap;
    margin: 0%;
}

#message{
    text-align: center;
    font-size: 16px;
    color: white;
    padding:2px;
    background-color: rgba(191, 13, 13, 0.675);
}
#btn-group{
  display: flex;
  flex-direction: row;
  gap:20px;
  padding: 0%;
  width: auto;
}
/* login and signin button*/

.silo{
  width: 80px;
  height: min-content;
  padding: 10px;
  margin-top: 8%;
  background-color: rgb(222, 219, 219);
  border-radius: 5px;
  font-weight: 500;
  color:white;
}
#signin-btn{
  background-color:rgba(5, 117, 44, 0.809);
}

#login-btn{
  background-color:rgb(9, 103, 174);
}

/* after login- select list*/
#loginSelect{
  background-color: rgba(39, 98, 198, 0.665);
  color:white;
  border-radius: 5px;
  font-weight: 600;
  outline:2px solid white;
  height: min-content;
  padding:10px;
  margin-top: 5%;
}

.loginoption{
  background-color: black;
  color: white;
}

input[type="text"]{
    border: none;
    padding: 8px;
    border-radius: 5px;
}

input[type="text"]:hover{
    border: 2px solid rgb(16, 106, 185);
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.page-container #error{
    font-size: 20px;
    margin-top: 8%;
    text-align: center;
}