body{
    background-image: url('../images/user-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.page-container{
    display: flex;
    gap:30px;
}

.form-area{
    flex:1;
    margin-top: 40px;
    border-radius: 10px;
    padding: 30px 0px;
}

#input{
    display: flex;
    gap:40px;
    padding: 20px 0px;
    justify-content: center;
}

#legend-cancel{
    text-align: center;
    color: rgb(187, 86, 86);
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 20;
    font-weight: bold;
}

#cancelform{
    border: 3px solid rgb(174, 171, 171);
    background-color: rgba(235, 231, 231, 0.375);
    padding: 20px 0px;
    margin-top: 5%;
    margin-left: 540px;
    max-width:800px;
}

#btn{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

#submit, #reset{
    background-color: rgb(6, 70, 165);
    color: white;
    border: none;
    padding: 7px;
    width:auto;
    border-radius: 8px;
    font-weight: 450;

}

#submit:hover, #reset:hover{
    background-color: rgb(35, 94, 154);
    color: white;
}

#input label{
    color: rgb(47, 46, 46);
    font-size: 18px;
    font-weight:600;
    text-wrap: wrap;
    margin: 0%;
}

input[type="text"]{
    border: none;
    padding: 8px;
    border-radius: 5px;
}

input[type="text"]:hover{
    border: 2px solid orangered;
    outline: none;
    padding: 8px;
    border-radius: 5px;
}

.page-container #error{
    font-size: 20px;
    margin-top: 8%;
    text-align: center;
}