body{
  background-image: url('../images/form-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


form {
  width: 40%;
  margin:  auto;
  font-family: Arial, sans-serif;
  background-color: #140808b9;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 15%;
}
form:hover{
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 20px;
}

/* Style the form fields */
label {
  display: inline-block;
  width: 220px;
  margin-top:20px;
  font-weight: bold;
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  filter:invert(1);
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="package"],
input[type="date"],
input[type="number"],
input[type="address"],
input[type="residence"],
input[type="date"] {
  display: inline-block;
  width: 50%;
  padding: 10px;
  margin-left:20px;
  margin-top:0;
  background-color: transparent;
  color: white;
  border: 1.7px solid rgb(247, 242, 242);
  border-radius: 7px;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #0f71d4;
  color: white;
  padding: 3px 20px;
  text-transform: uppercase;
  margin-top:3%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: green;
  font-weight: normal;
  color: white;
}

/* table css */
.table {
  text-align:center;
  border-collapse: collapse;
  width: 1800px;
  height:400px;
  margin: auto;
  margin-top:2%;
  border-radius: 5px;
  overflow: hidden;
  border:3px solid black;
  outline:2px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.thead{
  color:white;
  font-size: 20px;
  background-color: rgb(136, 8, 8);
  text-align: center;
}

.data{
  color:black;
  font-size: 16px;
  font-weight: 500;
  border:2px solid black;
}

.h1{
  color: rgba(0, 0, 0, 0.415);
  font-size: 2.6rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}