*{
  margin :0;
  padding:0;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}

body{ 
   background-color:rgba(194,192,230,1)
}

nav{
  background-color: black;
  height: 118px;
  
}
#logo{
  color: white;
  font-size: 30px;
  
}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}

#li-current{
  width: 90px;
  margin: 5px;
  padding:3px;
  border:1px solid gold;
  color:black;
  font-weight:bold;
}

#li-a-current{
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight:600;
  padding: 13.5px;
}


#li-a{
  background-color: black;
  color:white;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  padding:10px;

}
#li{
  width: auto;
  margin:10px;
  padding:3px;
}
#li-a:hover{
  background-color: black;
  color:white;
  transition-duration: 0.1s;
  border:1px solid yellow;
  border-radius:3px;
  margin:6px;
}

#loginlist{
  background-color: black;
  color:white;
  text-align: left;
  font-size: 16px;
  border:none;
  font-weight: normal;
  padding:10px;

}
#login{
  width: auto;
  margin:10px;
  padding:3px;
  height:auto;
}
#loginlist:hover{
  background-color: black;
  color:white;
  transition-duration: 0.3s;
  border:1px solid yellow;
  border-radius:3px;
  margin:6px;
  height:auto;
}

.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 


.pic{
  width: 75%;
  height: 50%;
  border-radius: 15%;
}
.about-section{
  margin-top:140px;
}
.carous{
  margin-top: 120px;
}
section h1{
  text-align: center;
  font-weight: bold;
  margin-top: 58px;
  
}
.pic{
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
}
.title{
text-align: center;
color:  orange;
font-weight: bold;
background-color: black;
border-radius: 14px;
}

.our-serv p{
color: rgb(12, 9, 9);
font-size: 21px;

}

.button{
  text-align: center;
  margin-top: 40px;
  height: 190px;
  
}
.btn{
  text-align: center;
  width: 200px;
  height: 70px;
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #101820ff;
  transition:width 0.6s;
  font-family:fantasy;font-size: 30px;color:rgb(231, 236, 241);
  box-shadow: 15px 15px 10px rgb(52, 45, 1);
  border: rgb(10, 11, 15);
}
.btn:hover{
  background-color:#fee715ff;
  width: 240px;
  height: 80px;
  color:rgb(40, 3, 3);
  
}
.startmsg{
  margin-top: 70px;
  text-align: center;
}
.msg{
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  color: rgb(10, 11, 15);
  font-family:comic sans-serif;
  text-shadow:1px 3px 2px;
}


/* footer */
footer{
  height:auto;
  color:white;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: relative;
  z-index: 1;
}


footer a{
  color:white;
}
footer h3{
color: orange;
}

#f1{
  justify-content: center;
  
}
#f1 h2{
  color: orange;
}
#footerpara{
  margin-top: 20px;
}
#f2{
justify-content: center;
color:white;
}
.col{
  color:white;
}

.col a{
  text-decoration: none;
  color:white;
}

.col a:hover{
  color:yellow;
}

#f3{
  
  background-color:black;
  height: 40px;
  padding: 10px;
  color:white;
}
.links a{
text-decoration: none;
color:white;
} 

.links a:hover{
  color:#ff2;
}

a{
  color:white;
}