*{
  margin :0;
  padding:0;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}

body{ 
   background-color:rgba(194,192,230,1)
}

nav{
  background-color: black;
  height: 118px;
}

#logo{
  color: white;
  font-size: 30px;
  
}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}

#li-current{
  width: 90px;
  margin: 5px;
  padding:3px;
  border:1px solid gold;
  color:black;
  font-weight:bold;
}

#li-a-current{
  color:white;
  text-align: center;
  font-size: 16px;
  font-weight:600;
  padding: 13.5px;
}


#li-a{
  background-color: black;
  color:white;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  padding:10px;

}
#li{
  width: auto;
  margin:10px;
  padding:3px;
}

#li-a:hover{
  background-color: black;
  color:white;
  transition-duration: 0.1s;
  border:1px solid yellow;
  border-radius:3px;
  margin:6px;
}

.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 



#btn-group{
  display: flex;
  flex-direction: row;
  gap:20px;
  padding: 0%;
  width: auto;
}
/* login and signin button*/

.silo{
  width: 80px;
  height: min-content;
  padding: 10px;
  margin-top: 8%;
  background-color: rgb(222, 219, 219);
  border-radius: 5px;
  font-weight: 500;
  color:white;
}
#signin-btn{
  background-color:rgba(5, 117, 44, 0.809);
}

#login-btn{
  background-color:rgb(9, 103, 174);
}

/* after login- select list*/
#loginSelect{
  background-color: rgba(39, 98, 198, 0.665);
  color:white;
  border-radius: 5px;
  font-weight: 600;
  outline:2px solid white;
  height: min-content;
  padding:10px;
  margin-top: 5%;
}

.loginoption{
  background-color: black;
  color: white;
}


.about-section{
  margin-top:140px;
}
.carous{
  margin-top: 120px;
}
section h1{
  text-align: center;
  font-weight: bold;
  margin-top: 58px;
  
}
.pic{
  margin-top: 30px;
  margin-left: 30px;
  height: 300px;
  width: 330px;
  border:3px solid rgb(166, 156, 156);
  background-color: rgb(211, 213, 216);
  border-radius: 10px;
  margin-bottom: 0%;
}

.img-fluid{

  height: 250px;
  width: 280px;
  margin-left: 20px;
  margin-top: 20px;
}


.title{
text-align: center;
color:  white;
font-size: 20px;
font-weight: bold;
background-color: rgb(37, 34, 34);
border-radius: 8px;
outline:4px solid rgb(168, 209, 103);
padding:10px;
}


.container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap:130px;
}

.our-serv p{
  color: rgb(32, 31, 31);
  font-size: 1.2rem;
  margin-left: 15px;
  margin-top: 0;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif
}

.our-serv{

  border:4px solid rgb(227, 214, 214);
  height:570px;
  width: 390px;
  border-radius: 10px;
}

.button{
  text-align: center;
  margin-top: 40px;
  height: 190px;
  
}
.btn{
  text-align: center;
  width: 200px;
  white-space: nowrap;
  height: 70px;
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #101820ff;
  transition:width 0.6s;
  font-family:fantasy;
  font-size: 30px;
  color:rgb(231, 236, 241);
  box-shadow: 6px 6px 10px rgb(52, 45, 1);
  border: rgb(10, 11, 15);
}
.btn:hover{
  background-color:#fee715ff;
  width: 230px;
  height: 80px;
  color:rgb(40, 3, 3);
  
}
.startmsg{
  margin-top: 70px;
  text-align: center;
}
.msg{
  text-align: center;
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 70px;
  color: rgb(51, 50, 50);
  text-shadow: rgb(26, 23, 3);

}


/* footer */
footer{
  height:auto;
  color:white;
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: relative;
  z-index: 1;
}


footer a{
  color:white;
}
footer h3{
color: orange;
}

#f1{
  justify-content: center;
  
}
#f1 h2{
  color: orange;
}
#footerpara{
  margin-top: 20px;
}
#f2{
justify-content: center;
color:white;
}
.col{
  color:white;
}

.col a{
  text-decoration: none;
  color:white;
}

.col a:hover{
  color:yellow;
}

#f3{
  
  background-color:black;
  height: 40px;
  padding: 10px;
  color:white;
}
.links a{
text-decoration: none;
color:white;
} 

.links a:hover{
  color:#ff2;
}

a{
  color:white;
}


