/* styles for package cards */
body {
    background-color: white;

}

.card {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 40px;
    width: 400px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(221, 241, 108, 0.878);
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.card img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 9.6px;
}

.card h2 {
    margin: 10px;
}

.card p {
    margin: 10px;
}

.card span {
    display: block;
    margin-top: 5px;
}

.card .package-name {
    font-size: 1.2rem;
    background-color: rgb(10, 12, 1);
    color: rgb(223, 179, 68);
    font-weight: normal;
    padding: 2px;

}

.card .package-desc {
    font-size: 2 rem;
    font-family: 'Brush Script MT', cursive;
}

.button {
    text-align: center;
    margin-top: 40px;
    height: 190px;
}

.btn {
    text-align: center;
    width: 110px;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    transition: width 0.6s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(231, 236, 241);
    border: 1px solid rgb(253, 249, 249);
    padding: 2px;
    border-radius: 5px;

}

.card .btn:hover {
    background-color: rgb(234, 241, 236);
    width: 14 0px;
    height: 40px;
    color: black;
    border: 1px solid white;
}

.card h4 {
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    background-color: rgba(129, 20, 8, 0.645);
    padding:4px;
    color: white;
    text-transform: uppercase;
}
.card h6{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#price{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    width: fit-content;
    margin-left: 140px;
    font-weight: 600;
    background-color: rgba(9, 97, 121, 0.708);
    border-radius: 5px;
    padding: 5px;
}

.heading {
    padding: 3px;
    color: wheat;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 20px;
}