/* styles for package cards */	
body{
    background-color:white;

}	
.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 85px;
    width: 430px;
    margin-top:100px;
    height: 500px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.849);
    backdrop-filter: blur(8px);
    border:3px solid black;
}
.card:hover {

    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}
.card img {

    height: 300px;
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin:0px;
    border-radius:0px 3px 0px 3rem;


}
.card h2 {
    font-family:sans-serif;
    margin: 10px;
    font-size:20px;
    text-transform: uppercase;
    color:white;
}
.card p {
    margin: 10px;
}
.card span {
    display: block;
    margin-top: 5px;
}
.card .package-name {
    font-size: 1.2rem;
    background-color: maroon;
    color:white;
    font-weight: bold;
}
.card .package-desc {
    font-size: 2 rem;
    font-family: 'Brush Script MT', cursive;
}
.button{
    text-align: center;
    margin-top: 18px;
    height: 100px;
    }
.btn{
    text-align: center;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    padding:3px;
    margin-bottom: 30px;
    background-color:rgb(1, 8, 12);
    transition:width 0.6s;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color:rgb(231, 236, 241);
    border:2px solid white;
    border-radius: 0;
}
.card .btn:hover{
    background-color: white;
    color:black;
    font-weight: normal;
}

h6{
    color:goldenrod;
    font-size: 18px;
}


/*nav bar*/
nav{
  background-color: black;
  height: 118px;
  
}
#logo{
  color: white;
  font-size: 30px;
  
}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}

#loginlist{
  background-color: maroon;
  color:white;
  text-align: left;
  font-size: 16px;
  border:none;
  font-weight: 600;
  padding: 3px;
  margin-top:9px;
}

#loginli{
  width: auto;
  margin:10px;
  padding:5px;
  background-color: maroon;
}

#loginli:hover{
  background-color: maroon;
  color:white;
  border-radius:3px;
  height:auto;
}

#loginlist:hover{
  background-color: maroon;
}

.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 

.loginopt{
  background-color: white;
  color: black;
}
