/* styles for package cards */
body{
    background-image: url('../images/user-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*nav bar*/
nav{
  background-color: black;
  height: 100px;
}
#logo{
  color: white;
  font-size: 20px;

}
#logo:hover{
  color: orange;
  transition-duration: 0.3s;
}

#loginlist{
  background-color: maroon;
  color:white;
  text-align: left;
  font-size: 16px;
  border:none;
  font-weight: 600;
  padding: 3px;
  margin-top:9px;
}

#loginli{
  width: auto;
  margin:10px;
  padding:5px;
  background-color: maroon;
}

#loginli:hover{
  background-color: maroon;
  color:white;
  border-radius:3px;
  height:auto;
}

#loginlist:hover{
  background-color: maroon;
}

.navbar-toggler {
  border-color: rgb(250, 245, 248);
  color:white;
  background-color: #ff2;
} 

.loginopt{
  background-color: white;
  color: black;
}

/*side bar*/
.container{
    color:white;
    display:flex ;
    flex-direction:column ;
    background-color: rgba(0, 0, 0, 0.789);
    width: 9%;
    margin: 0%;
    height: 100vh;
    padding: 0%;
}

#user-link{
    color: white;
    background-color: rgb(121, 51, 51);
    margin-top: 0%;
    text-align: center;
    font-size: 20px;
}

#user-data{
    padding: 3%;
}

#update-link{
    margin-top: 1%;
}

#table{
    margin-top: 15%;
}

tr.row{
    padding:8%;
    margin:2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    margin-left: 0%;
    font-size: 0.8rem;
    background-color:rgb(56, 56, 56) ;
}

td.row-data{
    margin-left: 0%;
    text-align: left;
    padding: 10px;
}

.link{
    padding: 1%;
    margin-left: 0%;
    color:white;
    font-size: 1.03em;
    text-decoration: none;
}

.link:hover{
    color:rgb(207, 184, 52);
}


