body {
      background-image: url('../images/login-back.jpg');
      background-size: cover;
      background-position: center;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      max-height: 1000vh;
    }

    #container {
      width: 95%;
      margin: 0px auto;
    }



    #banner img {
      width: 100%;
      margin-top: 10px;

    }

    #content1 {
      width: 40%;
      height: 35px;
      background-color: powderblue;
      float: left;
      margin-right: 2%;
    }

    form {
      margin-top: 35%;
      margin-left: 50%;
      width: 32rem;
      height: 33rem;
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.808);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
      border-radius: 20px;
      float: center;
    }

    form:hover {
      background-color: rgba(0, 0, 0, 0.884);
      opacity: .9;
      box-shadow: 0 3px 4px 2px gold;
    }

    h1 {
      font-size: 40px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
      letter-spacing: 3px;
      margin-bottom: 3%;
    }

    label {
      font-size: 20px;
      color: white;
      margin-left: 8%;
      opacity: .8;
    }

    #container {
      width: 20%;
      margin: 0px auto;
    }

    input {
      width: 80%;
      color: white;
      margin: 2% auto;
      margin-bottom: 4%;
      border: none;
      outline: none;
      background: white;
      opacity: .8;
    }

    #container form {
      padding: 0 25px;
      box-sizing: border-box;
    }

    form .txt {
      position: relative;
      border-bottom: 3px solid #adadad;
      margin: 30px 0;
    }

    .txt input {
      width: 100%;
      padding: 0 5px;
      height: 24px;
      font-size: 19px;
      border: none;
      background: none;
      outline: none;
    }

    .txt label {
      position: absolute;
      top: 70%;
      left: 1px;
      color: rgb(248, 244, 244);
      transform: translateY(-75%);
      font-size: 20px;
      pointer-events: none;
      transition: .5s;
    }

    .txt span::before {
      content: '';
      position: absolute;
      top: 87px;
      left: 0;
      width: 0%;
      height: 3px;
      background: purple;
      transition: .5s;
    }

    .txt input:focus~label,
    .txt input:valid~label {
      top: -5px;
      color: purple;
    }

    .txt input:focus~span::before,
    .txt input:valid~span::before {
      width: 100%
    }

    /* Style for submit and reset buttons */
    input[type="submit"],
    input[type="reset"] {
      background-color: #1e3a8a;
      /* Dark blue */
      color: white;
      width: auto;
      padding: 10px 20px;
      margin: 10px 5px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    /* Hover effect */
    input[type="submit"]:hover,
    input[type="reset"]:hover {
      background-color: #2563eb;
      /* Brighter blue */
    }

    /* Center align buttons */
    .button-group {
      display: flex;
      justify-content: center;
      gap: 30px;
      /* space between buttons */
      margin-bottom: 8%;
    }





    .heading {
      color: white;
      margin-top: 30px;
    }


    .para1 {
      color: black;
      margin-left: 20px;
      margin-right: 10px;
    }

    .more {
      text-decoration: none;
      color: black;
      background-color: white;
      padding: 10px;
      margin-left: 25px;
    }

    #bottom1 {
      margin-top: 15px;
      width: 50%;
      float: left;
    }

    #bottom2 {
      margin-top: 15px;
      width: 45%;
      float: right;
    }

    #bottom1 h2 {
      color: black;
    }

    #bottom1 p {
      color: black;
    }

    #bottom1 a {
      margin-left: 20px;
      color: black;
    }

    #bottom2 p {
      color: black;
    }

    #bottom2 a {
      margin-left: 20px;
      color: black;
    }

    .login-img {
      height: 300px;
      width: 500px;
      border-radius: 2px;
    }



    .head {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 500px;
      gap: 300px;
    }

    .already {
      color:white;
      text-align: center;
      font-size: 80%;
    }