#btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0%;
    width: auto;
}

/* login and signin button*/
.silo {
    width: 80px;
    height: min-content;
    padding: 10px;
    margin-top: 8%;
    background-color: rgb(222, 219, 219);
    border-radius: 5px;
    font-weight: 500;
    color: white;
}

#signin-btn {
    background-color: rgba(5, 117, 44, 0.809);
}

#login-btn {
    background-color: rgb(9, 103, 174);
}


/* after login- select list*/
#loginSelect {
    background-color: rgba(39, 98, 198, 0.665);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    outline: 2px solid white;
    height: min-content;
    padding: 10px;
    margin-top: 5%;
}

.loginoption {
    background-color: black;
    color: white;
}


/* side bar*/
.page-container {
    display: flex;
    align-items: stretch;
    margin: 0%;
    min-height: 100vh;
    gap: 200px;
}

.container {
    width: 200px;
    margin: 0%;
    min-height: max-content;
}

#table {
    width: 100%;
}

tr#user-link {
    background-color: rgb(85, 16, 16);
    border-radius: 20px;
    font-weight: 600;
}

tr.row {
    background-color: rgba(73, 72, 72, 0.571);
    border-radius: 10px;
    font-size: 13px;
}

tr.row:hover {
    background-color: rgb(85, 83, 83);
}

/* booking card*/
.list-group {
    flex: 1;
    margin-top: 2%;
}

h1 {
    margin-right: 10%;
    color: rgb(116, 108, 108);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.35);
    font-weight: bolder;
    text-align: center;
}

.booking-card {
    background-color: rgb(207, 203, 203);
    padding: 20px;
    margin: 1% 4%;
    width: 1400px;
    max-height: 500px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.booking-header {
    font-size: 22px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgba(118, 85, 6, 0.815);
    margin-top: 0%;
    text-align: center;
}

.booking-body {
    background-color: rgba(231, 228, 228, 0.753);
    border-radius: 10px;
}

.booking-body p {
    margin-left: 1%;
    font-size: 15px;
}

.booking-status {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
    margin-left: 88%;
    width: fit-content;
    border-radius: 5px;
}

.status-confirmed {
    color: green;
    background-color: white;
    border: 2px solid green;
}

.status-cancelled {
    color: red;
    background-color: white;
    border: 2px solid red;
}

.date-info {
    display: flex;
    gap: 20%;
    justify-content: center;
}

.date {
    color: white;
    padding: 7px;
    font-weight: 500;
    background-color: rgb(5, 137, 128);
    border-radius: 6px;
}

#partner {
    font-size: 15px;
    font-weight: 400;
}

#error {
    font-size: 20px;
    margin-left: 40%;
}