html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#btn-group{
  display: flex;
  flex-direction: row;
  gap:20px;
  padding: 0%;
  width: auto;
}
/* login and signin button*/

.silo{
  width: 80px;
  height: min-content;
  padding: 10px;
  margin-top: 8%;
  background-color: rgb(222, 219, 219);
  border-radius: 5px;
  font-weight: 500;
  color:white;
}
#signin-btn{
  background-color:rgba(5, 117, 44, 0.809);
}

#login-btn{
  background-color:rgb(9, 103, 174);
}

/* after login- select list*/
#loginSelect{
  background-color: rgba(39, 98, 198, 0.665);
  color:white;
  border-radius: 5px;
  font-weight: 600;
  outline:2px solid white;
  height: min-content;
  padding:10px;
  margin-top: 5%;
}

.loginoption{
  background-color: black;
  color: white;
}
.page-container{
    display: flex;
    gap:10%;
    margin: 0%;
    height: 100vh;
}

.container{
    flex:0 0 200px;
    height: 100vh;
}

.list-group{
    flex:1;
    margin-top: 2%;
}

h1{
    margin-left: 30%;
    color:rgb(166, 42, 42);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
    font-weight: 700;
}

.booking-card {
    background-color: rgb(207, 203, 203);
    padding: 20px;
    margin: 1% 4%;
    width: 1400px;
    max-height:500px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.booking-header {
    font-size: 22px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: rgba(118, 85, 6, 0.815);
    margin-top:0%;
    text-align: center;
}

.booking-body{
    background-color: rgba(231, 228, 228, 0.753);
    border-radius: 10px;
}

.booking-body p{
    margin-left:1%;
    font-size: 15px;
}
.booking-status {
    font-weight: bold;
    padding:5px;
    font-size: 18px;
    margin-left:88%;
    width:fit-content;
    border-radius: 5px;
}

.status-confirmed{
    color:green;
    background-color: white;
    border:2px solid green;
}

.status-cancelled{
    color:red;
    background-color: white;
    border:2px solid red;
}

.date-info{
    display: flex;
    gap:20%;
    justify-content: center;
}

.date{
    color:white;
    padding:7px;
    font-weight: 500;
    background-color: rgb(5, 137, 128);
    border-radius: 6px;
}

#partner{
    font-size:15px;
    font-weight: 400;
}

#error{
    font-size: 20px;
    margin-left: 40%;

}