* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/package-wall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    background-attachment: fixed;
}

#packageform {
    width: 100%;
    background-color: white;
    box-shadow: 2px;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    margin: 10% auto;
    padding: 20px;
}

#packageform legend,
#deletepackageform legend {
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#packageform:hover,
#deletepackageform:hover {
    background-color: rgb(47, 47, 47);
    color: white;
}

#packageform:hover .input-box label,
#deletepackageform:hover .input-box label {
    color: white;
}

.input-box {
    padding: 5px;
    margin-left: 20px;
}

.input-box label {
    color: black;
    font-weight: 600;
}

.input-box input {
    padding: 8px;
    margin: 5px;
    width: 90%;
    border: 1px solid rgb(194, 193, 193);
    border-radius: 5px;
}

.input-box input:focus {
    border: 2px solid rgb(23, 102, 220);
    outline: none;
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button {
    background-color: #0e5eba;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    width: auto;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    transition: color 0.5s ease;
}

.button:hover {
    background-color: rgb(61, 61, 203);
    color: white;
}

#packageId {
    width: 100%;
    padding: 10px;
    margin-top: 3%;
    border: 1px solid grey;
    border-radius: 10px;
}


#deletepackageform {
    margin: 10% auto;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: 2px;
    border: 1px solid white;
    border-radius: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

@media screen and (max-width:767px) {
    #deletepackageform {
        width: 90%;
    }

    #packageId{
        width: 100%;
    }
}