body {
    background-image: url('../img/adminback.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    padding: 3px;
    color: rgb(239, 239, 176);
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}


.contact {
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    margin: 20px auto;
    box-sizing: border-box;
}

.contact-heading {
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-family: cursive;
    color: rgb(165, 160, 30);
    font-size: 30px;
}

.contact:hover {
    border: 3px solid rgb(178, 160, 63);
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    color: white;
}

.contact ul {
    list-style: none;
    margin: 2% auto;
    padding: 10px;
    width: 100%;
}

.contact ul li {
    font-size: 18px;
    color: white;
    padding: 5px;
}

.map {
    width: 100%;
    margin: 20px;
}

.map iframe {
    border-radius: 10px;
    width: 95%;
    display: block;
    height: 380px;
}



/* faq styles*/
#faq {
    font-size: 50px;
    margin: 20px;
    color: white;
    text-align: center;
}

.faq-question {
    text-align: left;
    margin-left: 5px;
    font-size: 30px;
    color: white;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.faq-answer {
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.719);
    width: 98%;
    padding: 15px;
    border-radius: 10px;
    line-height: 1cm;
    border: 1px solid white;
    margin: 2rem;
    transition: background-color 0.8s ease;
}

.faq-answer:hover {
    background-color: rgb(198, 191, 191);
    color: black;
    cursor: pointer;
    transform: translateY(-15px);
    border: none;
}


@media screen and (max-width:767px) {
    .contact {
        width: 100%;
    }

    .map {
        width: 100%;
        margin: 0;
    }

    #faq {
        font-size: 25px;
    }

    .faq-question{
        font-size: 20px;
    }
    .faq-answer{
        font-size: 15px;
        margin: 0;
    }

    .fq{
        margin-top: 20px;
    }

    .fqa{
        margin-bottom: 10%;
    }
}
