body {
  background-image: url('../img/form-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* table css */
.table {
  text-align: center;
  border-collapse: collapse;
  width: 70%;
  height: 400px;
  margin: auto;
  margin-top: 2%;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid black;
  outline: 2px solid grey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.thead {
  color: white;
  font-size: 20px;
  background-color: rgb(10, 49, 122);
  text-align: center;
  font-weight: 600;
}

.data {
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid black;
}

.h1 {
  color: rgba(0, 0, 0, 0.415);
  font-size: 2.6rem;
  text-align: center;
  margin-top: 2%;
  height: max-content;
}


#formData {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#formData .h1 {
  margin-bottom: 2%;
}

#tourForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 70%;
  padding: 2%;
  border: 3px solid transparent;
  height: max-content;
  margin-bottom: 5%;
  border-radius: 10px;
  transition: background-color 0.5 ease;
}

#tourForm:hover {
  background-color: rgb(252, 252, 250);
  border: 3px solid goldenrod;
}

.input-field {
  padding: 15px;
}

.input-field label {
  width: 150px;
  color: black;
  font-weight: 600;
}

.input-field input {
  width: 300px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid grey;
}

.input-field input:focus {
  outline: none;
  border: 2px solid rgb(10, 82, 165);
}

input[type="submit"] {
  background-color: #0f71d4;
  color: white;
  padding: 3px 20px;
  margin-top: 3%;
  font-weight: 500;
  width: max-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: rgb(12, 61, 136);
}

.input-field:has(input[type="hidden"]) {
  display: none;
}

@media screen and (max-width:767px) {

  #tourForm {
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .input-field {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .input-field input {
    width: 100%;
  }

  .input-field label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}