* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  height: max-content;
  background-color: black;
}

#brand-logo {
  width: 50px;
  height: 50px;
}

#brand {
  font-size: 20px;
  font-weight: 600;
  color: white;
}


#brand:hover {
  color: rgb(208, 208, 17);
}

#navbarNav .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.active {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 0.5s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  border: 3px solid rgb(109, 97, 25);
}

#btn-group {
  display: flex;
  justify-content: start;
  gap: 30px;
}


.silo {
  border: 3px solid rgb(109, 97, 25);
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 100px;
  font-size: 14px;
  background-color: black;
  transition: border-color 1s ease;
}

.silo:hover {
  color: rgb(240, 218, 93);
  border: 3px solid whitesmoke;
}



.about-section {
  margin-top: 140px;
}

.carous {
  margin-top: 120px;
}


section h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 58px;
}

.pic {
  margin-top: 30px;
  margin-left: 30px;
  height: 300px;
  width: 330px;
  border: 3px solid rgb(166, 156, 156);
  background-color: rgb(211, 213, 216);
  border-radius: 10px;
  margin-bottom: 0%;
}

.img-fluid {

  height: 250px;
  width: 280px;
  margin-left: 20px;
  margin-top: 20px;
}


.title {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(49, 49, 49, 0.541);
  border-radius: 8px;
  outline: 4px solid rgb(109, 97, 25);
  padding: 10px;
}


.container {
  display: flex;
  justify-content: center;
  gap: 130px;
}

.our-serv p {
  color: rgb(209, 206, 206);
  font-size: 1.2rem;
  margin-left: 15px;
  font-weight: 00;
  font-family: Arial, Helvetica, sans-serif
}

.our-serv {
  border: 2px solid rgb(227, 214, 214);
  height: 570px;
  width: 390px;
  border-radius: 10px;
  transition: border-color 0.8s ease, transform 0.8s ease;
}

.our-serv:hover {
  border: 4px solid rgb(109, 97, 25);
  transform: scaleY(1.05);
}


.btn {
  text-align: center;
  width: 200px;
  white-space: nowrap;
  height: 70px;
  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: 800px;
  background-color: #101820ff;
  transition: width 0.6s;
  font-family: fantasy;
  font-size: 30px;
  color: rgb(231, 236, 241);
  box-shadow: 6px 6px 10px rgb(52, 45, 1);
  border: rgb(10, 11, 15);
}

.btn:hover {
  background-color: #fee715ff;
  width: 230px;
  height: 80px;
  color: rgb(40, 3, 3);

}

.startmsg {
  margin-top: 70px;
  text-align: center;
}

.msg {
  background-image: linear-gradient(45deg, #3466c2, #7a28cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 50px;
  font-weight: bold;
}


/* show form error message*/
#form-error {
  width: max-content;
  max-width: 90%;
  margin: 10px 0 0;
  padding: 11px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  display: none;
}

#form-error.success {
  display: inline;
  color: green;
  border: 2px solid green;

}

#form-error.failure {
  display: inline;
  color: red;
  border: 2px solid rgb(209, 31, 31);
}

#form-error.hide {
  display: none;
}

/* show form error message*/
#session-error {
  font-weight: 600;
  width: max-content;
  background-color: white;
  display: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

#session-error.success {
  color: green;
  display: block;
  border: 2px solid green;
}

#session-error.failure {
  color: red;
  display: block;
  border: 2px solid rgb(209, 31, 31);
}



.login-select {
  background-color: white;
  color: black;
  border: 2px solid goldenrod;
  padding: 10px;
  width: auto;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  color: black;
}

.login-select option {
  background-color: white;
  color: black;
}

.login-select option:hover {
  border: 2px solid rgb(21, 88, 114);
  background-color: white;
  color: black;
}


/* footer styles */
footer {
  height: 300px;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  font-size: 18px;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  padding: 4px;
}

.row {
  height: 300px;
  padding: 20px;
}

.col h3 {
  color: goldenrod;
}

.col a {
  color: white;
  text-decoration: none;
}

.col a:hover {
  color: yellow;
}

#footerend {
  background-color: #244a9b;
  width: 100%;
  margin: 0;
}