* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/package-back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-position: center;
    background-attachment: fixed;
}

#addItineraryForm,
#updateItineraryForm {
    margin: 10% auto;
    background-color: white;
    height: auto;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

#deleteItineraryForm {
    float: right;
    margin-top: 5%;
    background-color: white;
    height: 400px;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    transition: transform 0.5s ease;
}

#addItineraryForm:hover,
#updateItineraryForm:hover,
#deleteItineraryForm:hover {
    transform: translateY(-10px) scale(1.02);
    border: 2px solid goldenrod;
}

legend {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
}

.input {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 0;
}

.input label {
    width: 35%;
    min-width: 100px;
    font-size: 17px;
    font-weight: 600;
}

.input input,
.input select {
    width: 65%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
}

.input input:focus,
select:focus {
    outline: none;
    border: 2px solid rgb(9, 39, 169);
}

#button-group {
    margin-top: 2%;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}

.button {
    color: white;
    padding: 10px;
    height: auto;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    width: max-content;
    background-color: rgb(21, 112, 232);
}

.button:hover {
    background-color: rgb(10, 57, 118);
}


@media screen and (max-width: 767px) {

    #addItineraryForm,
    #updateItineraryForm {
        width: 100%;
        margin: 15% auto 5%;
        padding: 15px;
    }

    #addItineraryForm legend,
    #updateItineraryForm legend {
        font-size: 22px;
        padding: 5px;
    }

    #addItineraryForm .input,
    #updateItineraryForm .input {
        display: flex;
        gap: 10px;
        padding: 10px 0;
    }

    #addItineraryForm .input label,
    #updateItineraryForm .input label {
        width: 35%;
        min-width: 85px;
        font-size: 13px;
    }

    #addItineraryForm .input input,
    #updateItineraryForm .input input,
    #addItineraryForm .input select,
    #updateItineraryForm .input select {
        width: 65%;
        font-size: 13px;
        padding: 8px;
    }

    #button-group {
        gap: 10px;
    }

    .button {
        font-size: 13px;
        padding: 8px 12px;
    }
}