body {
  background-image: url('../img/package-back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#updatecategoryform,
#addcategoryform {
  width: 25%;
  height: 80%;
  float: right;
  border-radius: 10px;
  background-color: white;
  position: fixed;
  top: 5%;
  right: 10%;
}


legend{
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

.input {
  padding: 18px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input label{
  font-size: 15px;
  font-weight: 600;
}

.input input, select{
  width: 70%;
  padding: 10px;
  border:1px solid grey;
  border-radius: 5px;
  margin-left: 15px;
}


#duration{
  display: flex;
  justify-content: space-evenly;
}

#duration input::placeholder{
  text-align: center;
  font-size: 17px;
}


#deletecategoryform {
  width: 25%;
  height: 45%;
  background-color: white;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  border-radius: 10px;
  padding: 20px;
}



.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  background-color: #0e5eba;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-left: 70px;
  margin-top: 20px;
  border: none;
  transition: color 0.5s ease;
}

.button:hover {
  background-color: rgb(26, 26, 145);
  color: white;
}