* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.update-container {
    position: relative;
}

#update-form {
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: aliceblue;
    height: 500px;
    width: 600px;
    border-radius: 10px;
}

#update-legend {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    color: rgb(214, 39, 39);
}

#update-form div {
    padding: 40px;
    margin: 0;
    position: relative;
}

#update-form div label {
    position: absolute;
    font-size: 17px;
    font-weight: 500;
    left: 10%;
    padding: 20px;
}

.input {
    position: absolute;
    width: 300px;
    left: 40%;
    padding: 15px;
    border: 1px solid rgb(217, 214, 214);
    border-radius: 5px;
}

.input:focus {
    border: 2px solid rgb(10, 90, 155);
    outline: none;
}

#button-group {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
}

.button {
    color: white;
    padding: 10px;
    height: auto;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-left: 100px;
    width: 80px;
    background-color: rgb(21, 112, 232);
}

.button:hover {
    background-color: rgb(10, 57, 118);
}