* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/user-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    min-height: 100vh;
}

#user-links {
    border: 2px solid goldenrod;
    padding: 20px;
}

#user-links ol {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

#user-links .link a {
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
}

#user-links .link a:hover {
    background-color: rgb(49, 48, 48);
    color: white;
}

#loginSelect {
    padding: 10px;
    font-weight: 600;
}

#user-section {
    display: grid;
    grid-template-rows: auto 1fr;
}

#error-section {
    min-height: 60px;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

#section-error {
    margin: 0;
    color: red;
    border: 2px solid red;
    width: max-content;
}

#booking-list-container {
    padding: 20px;
}