* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-image: url('../img/userlogin.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.heading {
  text-align: center;
  margin: 30px;
  font-size: 40px;
  color: rgb(51, 50, 50);
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 60px auto;
  padding: 20px;
  min-height: 600px;
  width: 90%;
  /* min-width: 600px; */

  background-color: rgba(255, 255, 255, 0.566);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

#signup-form:hover {
  background-color: rgba(0, 0, 0, 0.264);
  border: none;
  color: white
}

#signup-form:hover .heading {
  color: white;
}

.txt {
  padding: 15px;
  width: 100%;
  max-width: 400px;
}

.txt input {
  width: 100%;
  border: 1px solid rgb(225, 222, 222);
  padding: 10px;
  border-radius: 5px;
}

.txt input:focus {
  border: 3px solid rgb(17, 105, 192);
  outline: none;
}

/* button group*/
.button-group {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 10px;
}

.button {
  color: white;
  padding: 10px;
  height: auto;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: 80px;
  background-color: rgb(21, 112, 232);
}

.button:hover {
  background-color: rgb(22, 74, 143);
}

.already {
  text-align: center;
  margin: 15px;
  font-weight: 600;
}

.already a {
  text-decoration: none;
}

.already a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  color: white;
  padding-left: 15px;
}

.content h1 {
  font-size: 50px;
  margin-top: 24%;
}

.content h4 {
  font-size: 30px;
  width: 460px;
}

@media (max-width: 991px) {

  .content {
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
  }

  .content h1 {
    font-size: 50px;
  }

  .content h4 {
    font-size: 30px;
    text-align: center;
    width: auto;
    text-align: center;
  }

  #signup-form {
    margin: 40px auto;
  }
}



@media (max-width: 576px) {

  .content {
    margin-top: 30px;
  }

  .content h1 {
    font-size: 30px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
  }

  /* text-align: center; */


  .content h4 {
    font-size: 20px;
    margin: 0;
    width: auto;
    text-align: center;
  }

  #signup-form {
    width: 90%;
    min-width: 0;
    margin: 30px auto;
    min-height: auto;
    padding: 5px;
  }

  .heading {
    font-size: 32px;
    margin: 15px;
  }

  .txt {
    padding: 10px;
  }

  .button-group {
    gap: 20px;
  }
}


/* @media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 15px;
  } */
/* } */