* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/user-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#user-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    min-height: 500px;
}

#user-links {
    border: 2px solid goldenrod;
    padding: 20px;
}

#user-links ol {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style-type: none;
}

#user-links .link a{
    display: block;
    text-decoration: none;
}

#loginSelect {
    padding: 10px;
    font-weight: 600;
}

#user-section{
    display: grid;
    grid-template-rows: auto 1fr;
}

#error-section{
    min-height: 60px;
    padding: 15px;
    border:2px solid #ccc;
}

#section-error{
    margin:0;
}

#booking-list-container{
    padding:20px;
}