body {
     background-image: url('../img/adminback.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*heading */
.h1 {
     color: rgb(208, 150, 91);
     font-size: 40px;
     text-align: center;
     margin-top: 2.5%;
     font-weight: 600;
}


#viewcategory,
#regtable,
#packagetable {
     margin-top: 2%;
     margin-left: 6%;
     margin-right: 2%;
     margin-bottom: 20%;
     border-collapse: collapse;
     border-radius: 10px;
}

#head-data {
     margin: 6%;
     background-color: rgba(6, 45, 67, 0.801);
     color: white;
     height: auto;
     text-align: center;
}

th {
     text-align: center;
     width: 400px;
     padding: 6px;
     border: 1px solid black;
}

td {
     font-size: 15px;
     background-color: white;
     text-align: center;
     width: max-content;
     font-weight: 600;
     padding: 5px;
     border: 1px solid black;
}

.data {
     width: max-content;
}