body {
     background-image: url('../img/adminback.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
     color: rgb(208, 150, 91);
     font-size: 40px;
     text-align: center;
     margin-top: 2.5%;
     font-weight: 600;
}


#admintable,
#usertable {
     width: 600px;
     margin-left: 35%;
     padding: 20px;
     margin-bottom: 20%;
     border-collapse: collapse;
     border-radius: 10px;
}


th {
     font-size: 18px;
     margin: 6%;
     background-color: rgba(12, 64, 153, 0.801);
     color: white;
     text-align: center;
     padding: 10px;
     font-weight: 500;
     outline: 1px solid rgb(43, 43, 43);
}

td {
     font-size: 17px;
     margin: 6%;
     background-color: rgba(242, 237, 237, 0.712);
     color: black;
     text-align: center;
     padding: 15px;
     outline: 1px solid rgb(43, 43, 43);
}