* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#booking-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking-list-container .h1 {
    font-size: 40px;
    color: goldenrod;
    text-align: center;
}

.booking-card {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 3% auto;
    height: max-content;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.booking-card:hover {
    transform: translateY(-10px) scale(1.02);
    cursor: pointer;
    box-shadow: 5px 5px 10px gray;
}

.booking-header {
    background-color: rgb(14, 76, 112);
    height: 50px;
    font-size: 20px;
    color: white;
    padding: 13px;
    border-radius: 4px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.status {
    width: max-content;
    padding: 6px;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    display: inline;
    float: right;
    background-color: white;
}

.status.status-confirmed {
    border: 3px solid green;
    color: green;
}

.status.status-cancelled {
    border: 2px solid red;
    color: red;
}

.status.status-pending {
    border: 2px solid yellow;
    color: yellow;
}

.date-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    height: 30px;
    background-color: rgb(148, 170, 228);
    margin: 0px;
}

.date {
    font-size: 20px;
}

.booking-body {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(238, 236, 233);
}

@media screen and (max-width: 767px) {

    #user-container {
        display: block;
        width: 100%;
    }

    #user-links {
        width: 100%;
    }

    #user-section {
        width: 100%;
    }

    .booking-card {
        width: 100%;
        margin: 10px 0;
        padding: 5px;
    }

    .booking-header {
        font-size: 15px;
        height: 10px;
    }

    .status {
        width: auto;
        font-size: 11px;
        padding: 4px 8px;
        margin: 0;
    }

    .date-info {
        flex-wrap: nowrap;
        height: 35px;
        gap: 5px;
    }

    .date {
        font-size: 12px;
    }

    .booking-body {
        grid-template-columns: repeat(2, 1fr);
        font-size: 14px;
        padding: 10px;
    }

    .booking-body p {
        margin: 0;
        padding: 4px;
        font-size: 12px;
    }
}