body {
     background-image: url('../img/adminback.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#admin-container,
#user-container,
#package-container,
#tour-container,
#booked-users-container {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 5%;
     margin-bottom: 2%;
}

h1 {
     color: rgb(167, 126, 50);
     font-size: 30px;
     font-weight: 600;
}

#admintable,
#usertable,
#regtable,
#packagetable,
#viewcategory {
     margin-top: 10px;
     width: max-content;
     padding: 20px;
     margin-bottom: 20%;
     border-collapse: collapse;
     border-radius: 10px;
}

tr {
     width: max-content;
}


th {
     font-size: 18px;
     background-color: rgba(12, 64, 153, 0.801);
     color: white;
     text-align: center;
     padding: 10px;
     font-weight: 500;
     border: 1px solid rgb(43, 43, 43);
     border-radius: 6px;
}

td {
     width: max-content;
     font-size: 17px;
     margin: 6%;
     background-color: white;
     color: black;
     text-align: center;
     padding: 15px;
     border: 1px solid rgb(43, 43, 43);
     border-radius: 6px;
     transition: background-color 0.5 ease;
}

tbody tr:hover td {
     background-color: rgb(182, 177, 177);
     color: black;
}