body{

    background-image: url('../images/adminback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
}
.container{
    color:beige;
    background-color: rgba(0, 0, 0, 0.815);
    width: 12%;
    margin: 0%;
    height: 100vh;;
}


tr{
    padding: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    font-size: 0.8rem;
}
th{

    color:rgb(12, 94, 142);
    font-size: 1.5rem;
    font-weight: 700;
}
td{
    padding: 9%;
    color:white;
    border-bottom: 0.5px solid rgb(56, 55, 55);
}

a{
    color:white;
    text-decoration: none;
}

tr:hover{
    color:white;
    background-color: rgb(30, 29, 29);
}


.nav{
    background-color: rgba(0, 0, 0, 0.778);
    margin:0;
    height:90px;
}

#img, #logo{
    display: inline-block;
    vertical-align: middle;
}


#img{
    margin:1%;
}

#logo{
    color: white;
    font-size:1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.webpreview select{
    float: right;
    position: absolute;
    top:3%;
    right:2%;
    padding:6px;
    background-color: rgb(13, 8, 4);
    border:2px solid rgb(125, 108, 10);
    border-radius: 10px;
    font-size: 18px;
    color: white;
}

#logindropdown option{
    background-color: black;
    color:white;
}



