.nav{
    background-color: rgba(0, 0, 0, 0.903);
    margin:0;
    height:80px;
}

#img, #text{
    display: inline-block;
    vertical-align: middle;
}


#img{
    margin:1%;
}

#text{
    color: white;
    font-size:1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.webpreview a{
    float: right;
    position: absolute;
    top:2%;
    right:2%;
    color:white;
    font-size: 1.8rem;
    padding:5px;
}


.webpreview a:hover{
    float: right;
    position: absolute;
    top:2%;
    right:2%;
    color:white;
    background-color: black;
    border:1px solid gold;
    text-decoration: none;
    font-size: 1.8rem;
    padding:5px;
    transition: 0.3s;
}