   body{
    background-image: url('../images/package-back.jpg');
    background-repeat:no-repeat;
    background-size:cover;

   }
   
   .container{
    margin-top:5%;
    margin-left: 60%;
    text-align: left;
    width:22%;
    height: auto;
    border: 3px solid rgb(241, 234, 234);
    border-radius: 10px;
    padding:3%;
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
   }

   .container:hover{
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
   }

   form:hover label, form:hover legend{
    color: white;
    transition: 0.1s;
   }

   legend{
    text-align: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
   }

   label{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
   }

   label:hover{
    color:white;
   }

   select{
      padding: 3%;
      height:5%;
      margin-bottom: 3%;
      color:black;
      border: 2px solid #fcf6f6;
      border-radius: 5px;
      width: 100%;
      background-color: #f8f6f6;
   }

    input[type="text"], input[type="email"], input[type="password"], input[type="tel"]{
      padding: 3%;
      height:5%;
      margin-bottom: 3%;
      color:black;
      border: 2px solid #fcf6f6;
      border-radius: 5px;
      width: 100%;
      background-color: #f8f6f6d3;
    }

    input[type="submit"]{
      background-color: black;
      color: white;
      font-weight: 800;
      padding: 10px;
      width:auto;
      cursor: pointer;
      float: left;
      margin-left: 70px;
      margin-top: 5%;
    }

    input[type="submit"]:hover {
        background-color: white;
        color:black;
        font-weight: 800;
    }

    input[type="reset"]{
        background-color: black;
        color: #fff;
        float: right;
        margin-right: 100px;
        padding: 10px;
        cursor: pointer;
        margin-top: 5%;
        font-weight: 800;
    }
    input[type="reset"]:hover {
        background-color: white;
        color:black;
        font-weight: 800;
    }

    #imgUrl{
      padding: 10px;
    }