body {
     background-image: url('../images/viewback.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}


/*heading */
.h1 {
     color: rgb(208, 150, 91);
     font-size: 4rem;
     text-align: center;
     margin-top: 2.5%;
     font-weight: 700;
     text-shadow: 100px;
}


#viewcategory,
#regtable{
     border: 3px solid black;
     margin-top: 2%;
     margin-left: 2%;
     margin-right: 2%;
     justify-content: center;
     margin-bottom: 20%;
     align-content: center;
}

#head-data{
     font-size: 1.6rem;
     margin: 6%;
     background-color: rgba(6, 45, 67, 0.801);
     color: white;
     height: auto;
     text-align: center;
 
}

th{
     text-align: center;
     width: 800px;
     border: 3px solid gray;
     padding: 6px;
}
td{
     font-size: 1.5rem;
     background-color: white;
     color: black;
     text-align: center;
     border: 2.6px solid rgba(0, 0, 0, 0.381);
     padding: 10px;
}

.data{
     width: auto;
}